<div class="thoughtCard">
<h1>{{thought.title}}</h1>
<div class ="content">
<h3>{{thought.content}}</h3>
</div>
</div>

<div class="updateThought">
<h4>Enter New Thought Title: 
    <input
        type="text"
        class="newTitle"
        
        placeholder="{{thought.title}}"
      />
      </h4> 
      <h4> Enter New Thought Text:
        <input
        type="text"
        class="newText"
        placeholder="{{thought.content}}"
      />
      </h4>
<button class="editThoughtBtn" id="logOut">Edit Thought</button>
</div>