<div class="message">
  <h3>{{message}}</h3>
</div>
{{!username log in}}
<div class="loginArea">
  <div class="username-login">
    <label for="username" class="credentials-form">Username</label>
    <input type="text" class="credentials-input" id="usernameLogin" placeholder="username..." />
  </div>
  {{!password log in}}
  <div class="password-login">
    <label for="password" class="credentials-form">Password</label>
    <input type="password" class="credentials-input" id="passwordLogin" placeholder="password..." />
  </div>

  <div class="submitArea">
    <button class="submit-btn" id="logInBtn">Log In</button>
  </div>
</div>
<script src="/js/login.js"></script>