<!-- Render input fields to input new thought -->
<div class="newThought">
  <input type="text" id="thoughtTitle" placeholder="Title..." />
  <textarea id="thoughtText" name="thoughtText" rows="3" cols="50" placeholder="Text..."></textarea>
  <button id="submitThoughtBtn" onclick="sendNewThought(event)">Submit Thought
  </button>
</div>
<script src="/js/new-thought.js"></script>