
<div class="wrapper">
<div class="thoughtCard" style="width: 50rem;">
<h1><a href ="/thought/{{thought.id}}">{{thought.title}}</a></h1>
<h3>{{thought.content}}</h3>
<h4>{{thought.user.username}}</h4>
</div>
</div>
