
html,
body {
  margin: 0;
  background: #D7F3F6;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.topnav {
    background-color: #86cdd4;
    overflow: hidden;
    height: 120px;
    margin: 0px;
  }
  
  .topnav a {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    color: #3c445a;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .title {

    background-color: #3c445a;
    width: 23rem;
    color: #D7F3F6;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
  
.wrapper {
  width: 75%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.thoughtCard {

  margin: 5px;
  padding: 0px;
  border-radius: 3px;
  border-color: #3c445a;
  border-style: solid;

}

.thoughtCard h1 {
padding-left: 4px;
background-color: #3c445a;
margin-top: 0px;
text-decoration: none;
}

.thoughtCard a {

  text-decoration: none;
  color: #86cdd4;
  }

.content {

  padding-left: 5px;
}